@model Data_Transfer_Layer.VideoDataTransfer
<div class="box-body">
    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Title" })
        @Html.ValidationMessageFor(x => x.Title, null, new { @class = "Text-danger" })
    </div>
    <div class="form-group">
        <label>Video Path</label>
        @Html.TextBoxFor(x => x.OriginalVideoPath, new { @class = "form-control", @placeholder = "Video Path" })
        @Html.ValidationMessageFor(x => x.OriginalVideoPath, null, new { @class = "Text-danger" })
    </div>
    <input type="hidden" value="=@Model.VideoID" name="VideoID"/>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
