
@{
    ViewBag.Title = "AddAddress";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Add Address</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Address</a></li>
        <li class="breadcrumb-item"><a>Add Address</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <a type="submit" class="btn btn-primary" href="/Admin/Address/AddressList">Address List</a>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Areas/Admin/Views/Shared/_MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddAddress", "Address", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("PartialView/_AddressForm")
                }
            </div>
        </div>
    </div>
</section>
