
@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model List<Data_Transfer_Layer.SocialMediaDataTransfer>
<section class="content-header">
    <h1>Meta List</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Social Media</a></li>
        <li class="breadcrumb-item"><a>Social Media List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/SocialMedia/AddSocialMedia'">Add Social Media</button>
</div>

<!-- /.card -->

<div class="card">
    <div class="card-header">
        <h3 class="card-title">DataTable with default features</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead class="text-center">
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody class="text-center">
                    <tr id="a_@item.ID">
                        <td>@item.Name</td>
                        <td>@item.Link</td>
                        <td>
                            <img src="~/Areas/Admin/Content/SocialMediaImages/@item.ImagePath" width="60" height="60" style="border-radius:10px" />
                        </td>
                        <td align="center" valign="middle">
                            <a href="/Admin/SocialMedia/UpdateSocialMedia?ID=@item.ID">
                                <br />
                                <i class="fa-solid fa-repeat h3" style="color: #23d1ce;"></i>
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <i class="fa-solid fa-circle-xmark h3" style="color: #cf0c0c;" onclick="AskQuestion('/Admin/SocialMedia/DeleteSocialMedia/',@item.ID)"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            }
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Link</th>
                    <th>Image</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    @Html.Partial("~/Areas/Admin/Views/Shared/_ModalMessage.cshtml")
</div>
<!-- /.card -->
<script src="~/Areas/Admin/Content/js/DeleteRecord.js"></script>
